body {
    background-color: #121212;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.bg-off-black {
    background-color: #121212;
}

.nav-link {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.btn-close {
    --bs-btn-close-color: #fff;
    --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
}

.btn-primary {
    background-color: #d12525;
    border-color: #d12525;
}

.btn-primary:hover {
    background-color: #c94c4c;
    border-color: #ad3115;
}

/* Calendar */
.rbc-calendar .rbc-today {
    background-color: #d12525 !important;
}

.rbc-calendar .rbc-time-view .rbc-today {
    background-color: transparent !important;
}

.rbc-calendar .rbc-off-range-bg {
    background-color: #434343;
}

.rbc-calendar .rbc-toolbar button {
    color: white;
}

.rbc-calendar .rbc-toolbar button.rbc-active {
    background-color: #d12525;
}

.rbc-calendar .rbc-toolbar button:hover {
    background-color: #c94c4c;
    color: white;
}


.react-datepicker-wrapper {
    display: block !important;
}


.notes-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: start;
}


/* Styling the notepad.*/

.note-item {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    padding: 15px;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    word-wrap: break-word;
    white-space: normal;
    justify-content: flex-start;

}

.note-item h5 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    word-wrap: break-word;

}

/* Disable gutters as it was causing unnessary padding on the left of container.*/
.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
    width: 100%;
}


.note-item p {
    font-size: 1rem;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    white-space: normal;
    overflow-y: auto;
}

/* Styling the scrollbar track */
.note-item p::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.container {
    -bs-gutter-x: 0;
}

